name: Release


on:
  push:
    branches:
      - main


jobs:
  exports:
    name: Build, Release, and Upload
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Set project directory
        id: project-dir
        run: |
          if [ -f "myGame/package.json" ]; then
            echo "dir=myGame" >> $GITHUB_OUTPUT
          else
            echo "dir=." >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        working-directory: ${{ steps.project-dir.outputs.dir }}
        run: npm install

      - name: Build
        working-directory: ${{ steps.project-dir.outputs.dir }}
        run: npm run build

      - name: Zip dist folder
        working-directory: ${{ steps.project-dir.outputs.dir }}
        run: zip -r game.zip ./dist

      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{secrets.ITCH_KEY}} 
          gameData: ${{ steps.project-dir.outputs.dir }}/game.zip
          itchUsername: birkirvr
          itchGameId: 4104778
          buildChannel: webgl
