  name: Release


  on:
    push:
      branches:
        - main


  jobs:
    exports:
      name: Build, Release, and Upload
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Check out repository
          uses: actions/checkout@v3

        - name: Debug - List directory contents
          run: |
            pwd
            ls -la
            echo "---"
            echo "Checking for package.json:"
            cat package.json || echo "package.json NOT FOUND!"

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20.x'

        - name: Reconfigure git to use HTTPS authentication
          run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/

        - name: Update npm
          run: npm install npm@latest -g

        - name: Clean npm cache
          run: npm cache clean --force

        - name: Install dependencies
          run: npm install

        - name: Build
          run: npm run build

        - name: Zip dist folder
          run: zip -r game.zip ./dist

        - uses: KikimoraGames/itch-publish@v0.0.3
          with:
            butlerApiKey: ${{secrets.ITCH_KEY}} 
            gameData: ./game.zip
            itchUsername: birkirvr
            itchGameId: 4104778
            buildChannel: html5