name: Release

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: WHERE ARE THE FILES
        run: |
          echo "Current directory:"
          pwd
          echo "Files here:"
          ls -la
          echo "Looking for package.json:"
          find /home/runner/work -name "package.json"
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - run: npm ci
      
      - run: npm run build
      
      - run: zip -r game.zip ./dist
      
      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{secrets.ITCH_KEY}}
          gameData: ./game.zip
          itchUsername: birkirvr
          itchGameId: 4104778
          buildChannel: webgl