name: Release

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: freestyle  # ← THIS TELLS IT TO USE THE INNER FOLDER
    
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - run: npm ci
      
      - run: npm run build
      
      - run: zip -r game.zip ./dist
      
      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{secrets.ITCH_KEY}}
          gameData: freestyle/game.zip  # ← ALSO UPDATE THIS
          itchUsername: birkirvr
          itchGameId: 4104778
          buildChannel: webgl